<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <div>
        FednessFood is a mobile application designed to help people of all ages to eat better and feel good about themselves. 
        FednessFood guides you through your diet, whether strict or simple, weight loss weight loss. 
        fednessFood meets your expectations.
        <br/>
          <div class="container-img">
            Founded by leonel maken : <img src="../../../assets/img/516878401_IMG_captureImage.png">  
          </div>
        <br/>
                 Why FednessFood?  
        <br/>
      </div>

</div>